:root {
    --redPurple: rgba(95, 8, 75, 1);
    --darkPurple: rgba(71, 34, 85, 1);
    --darkBlue: rgba(47, 60, 94, 1);
    --darkTeal: rgba(23, 85, 103, 1);
    --lightTeal: rgba(0, 111, 113, 1);
    --smallCaps: 'Alegreya SC', serif;
    --MonoFont: 'Syne Mono', monospace;
    --SansFont: 'Advent Pro', sans-serif;
  }

  #contact {
    height: 88vh;
    padding-top: 50px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
  }

  #contact h1 {
    font-family: var(--MonoFont);
    font-weight: normal;
    color: var(--darkTeal);
    display: block;
  }

  .form {
    padding: 20px;
    text-align: center;
  }
  .form input {
    width: 400px;
    margin: 10px;
    padding: 10px;
    display: block;
  }
  .form textarea {
    width: 400px;
    min-height: 200px;
    margin: 10px;
    padding: 10px;
    display: block;
  }

  .form button {
    width: 400px;
    padding: 10px;
    font-family: var(--MonoFont);
    font-size: 20px;
    margin: auto;
  }

/* Tablets */
@media screen and (max-width: 992px) {
  
}

/* Large smartphones */
@media screen and (max-width: 768px) {
  
}

/* Small smartphones */
@media screen and (max-width: 576px) {
  #contact {
    text-align: center;
    height: max-content;
    padding: 100px 0;
  }
  .form {
    padding: 0;
  }
  .form input {
    padding: 5px 0;
    margin: 5px 0;
  }
  .form textarea {
    padding: 5px 0;
    margin: 5px 0;
  }

  .form button {
    padding: 5px 0;
  }
}

/* extra small devices */
@media screen and (max-width: 400px) {
  .form input {
    width: 350px;
    padding: 5px 0;
    margin: 5px 0;
  }
  .form textarea {
    width: 350px;
    padding: 5px 0;
    margin: 5px 0;
  }

  .form button {
    width: 350px;
    padding: 5px 0;
  }
}

/* why does anyone need a phone this small? is it the year 2000??? */
@media screen and (max-width: 280px) {
  .form input {
    width: 250px;
    padding: 5px 0;
    margin: 5px 0;
  }
  .form textarea {
    width: 250px;
    padding: 5px 0;
    margin: 5px 0;
  }

  .form button {
    width: 250px;
    padding: 5px 0;
  }
}