:root {
  --redPurple: rgba(95, 8, 75, 1);
  --darkPurple: rgba(71, 34, 85, 1);
  --darkBlue: rgba(47, 60, 94, 1);
  --darkTeal: rgba(23, 85, 103, 1);
  --lightTeal: rgba(0, 111, 113, 1);
  --smallCaps: 'Alegreya SC', serif;
  --MonoFont: 'Syne Mono', monospace;
  --SansFont: 'Advent Pro', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--lightTeal);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--darkTeal);
}

/*--- root styling ---*/
#root {
  background-image: url('../../public/images/geometric\ gray.avif');
  background-size: cover;
}

/*--- footer styling ---*/
#footer {
  background-color: var(--darkBlue);
  padding: 20px 10px;
  font-family: var(--MonoFont);
  text-align: center;
  color: #eeeeee;
}

#footer a {
  text-decoration: none;
  height: fit-content;
  padding: 0;
  margin: 0 10px;
}

#footer h3 {
  font-size: 20px;
  width: fit-content;
  margin: auto;
  border-bottom: 1px solid var(--lightTeal);
}

#footer h5 {
  margin: 0;
  font-size: 15px;
  display: inline-block;
  font-weight: normal;
}

.footerContact {
  font-size: 40px;
  margin: 10px;
  display: inline-block;
  color: #eeeeee;
}

.footerContact i {
  vertical-align: middle;
}

.footerContact:hover {
  color: var(--lightTeal);
  text-shadow: 0 0 5px #000;
  transform: scale(1.1);
  outline: 1px solid transparent;
}