:root {
  --redPurple: rgba(95, 8, 75, 1);
  --darkPurple: rgba(71, 34, 85, 1);
  --darkBlue: rgba(47, 60, 94, 1);
  --darkTeal: rgba(23, 85, 103, 1);
  --lightTeal: rgba(0, 111, 113, 1);
  --smallCaps: 'Alegreya SC', serif;
  --MonoFont: 'Syne Mono', monospace;
  --SansFont: 'Advent Pro', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/*--- navigation bar styling ---*/
#nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  margin: 1%;
  background-color: var(--redPurple);
  padding: 10px 20px;
  border-radius: 30px;
}
.nav1 {
  width: 30%;
  display: inline-block;
}
.nav2 {
  width: 65%;
  display: inline-block;
  text-align: right;
}

#navName {
  font-family: var(--smallCaps);
  font-size: 30px;
  padding-left: 7%;
  color: #eeeeee;
}

#nav a {
  color: #eeeeee;
  font-family: var(--MonoFont);
  padding: 0 20px;
}

#nav a:hover {
  color: var(--lightTeal);
  text-shadow: 0 0 5px #000;
  transform: scale(1.1);
  outline: 1px solid transparent;
}

/*--- root styling ---*/
#root {
  background-image: url('../public/images/geometric\ gray.avif');
}

/*--- about me styling ---*/
#aboutMe {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}

.bioImg {
  display: flex;
  flex: 1;
  flex-grow: 1;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-end;
  flex-basis: 40%;
  height: 100%;
  margin: 0;
  background-image: 
  linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  ), 
  url('../public/images/self.jpg');
  background-size: cover;
}

.bioContainer {
  flex: 1;
  flex-grow: 1;
  flex-basis: 100%;
  background-color: rgba(255,255,255, 0.4);
  margin-bottom: 100px;
}

.bioContainer h1 {
  font-weight: normal;
  padding: 0;
  margin: 10px 0 0 0;
  font-family: var(--SansFont);
  font-size: 4em;
  color: #eeeeee;
}

.bioContainer h2 {
  font-weight: normal;
  padding-top: 0;
  font-family: var(--smallCaps);
  font-size: 1em;
  color: #eeeeee;
}

.bioContent {
  flex: 1;
  flex-grow: 1;
  flex-basis: 50%;
  height: 100%;
  overflow: auto;
  display: inline-block;
  color: #000;
  background-color: rgba( 255, 255, 255, 0.7);
  font-family: var(--SansFont);
}

.bioContent H1 {
  font-family: var(--smallCaps);
  font-size: 40px;
  color: var(--darkPurple);
}
.bioContent H2 {
  font-family: var(--SansFont);
  font-size: 20px;
  color: var(--darkBlue);
}
.bioContent H3 {
  font-family: var(--MonoFont);
  font-weight: normal;
  font-size: 25px;
  margin: 10px 0 0 0;
}

#section1 {
  padding: 200px 0 0 0;
}

#section1, #section2, #section3 {
  text-align: center;
  margin: 50px 0;
}

#section1 p, #section2 p, #section3 p {
  text-align: justify;
  margin: 0 5%;
  padding: 30px;
  font-size: 1em;
  border: 1px solid var(--darkPurple);
}

#section2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

#section2 .skills {
  flex: 1;
  flex-grow: 1;
  flex-basis: 40%;
}

.skills ul {
  text-align: left;
}

/*--- footer styling ---*/
#footer {
  background-color: var(--darkBlue);
  padding: 20px 10px;
  font-family: var(--MonoFont);
  text-align: center;
  color: #eeeeee;
}

#footer a {
  text-decoration: none;
  height: fit-content;
  padding: 0;
  margin: 0 10px;
}

#footer h3 {
  font-size: 20px;
  width: fit-content;
  margin: auto;
  border-bottom: 1px solid var(--lightTeal);
}

#footer h5 {
  margin: 0;
  font-size: 15px;
  display: inline-block;
  font-weight: normal;
}

.footerContact {
  font-size: 40px;
  margin: 10px;
  display: inline-block;
  color: #eeeeee;
}

.footerContact i {
  vertical-align: middle;
}

.footerContact:hover {
  color: var(--lightTeal);
  text-shadow: 0 0 5px #000;
  transform: scale(1.1);
  outline: 1px solid transparent;
}